body {
  background: #333;
  color: white;
}

main {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 100px;
  font-family: 'Condiment', sans-serif;
  text-shadow: 5px 5px 20px rgba(0,0,0,0.8);
}

h2 {
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  padding-top: 3em;
  font-size: 1.7em;
}

.light {
  opacity: 0.9;
  font-size: .8em;
}

.coming-soon {
  font-family: 'Francois One', sans-serif;
  position: absolute;
  font-size: 1.2em;
  padding-bottom: 2em;
  bottom: 0;
  left: 0;
  right: 0;
}
